<a href="https://colab.research.google.com/github/rishabhbhardwaj-rb/FakeNewsDetection/blob/main/Notebooks/CombiningFeatures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
dataset_NER = pd.read_csv("/content/drive/MyDrive/FNDS/Dataset/FeatureExtraction/dataset_NER.zip", encoding='utf-8')
dataset_POSTag = pd.read_csv("/content/drive/MyDrive/FNDS/Dataset/FeatureExtraction/dataset_POSTag.zip", encoding='utf-8')
dataset_Dependency = pd.read_csv("/content/drive/MyDrive/FNDS/Dataset/FeatureExtraction/dataset_Dependency.zip", encoding='utf-8')
dataset_Sentiment = pd.read_csv("/content/drive/MyDrive/FNDS/Dataset/FeatureExtraction/dataset_Sentiment.zip", encoding='utf-8')
dataset_Cleaned = pd.read_csv("/content/drive/MyDrive/FNDS/Dataset/CleanedDataset/Dataset_Clean.zip",encoding='utf-8')

In [ ]:
combined_data =  pd.concat([dataset_Cleaned, dataset_Sentiment, dataset_Dependency, dataset_POSTag, dataset_NER],axis=1)

In [ ]:
combined_data.head()

,label,content,neg,neu,pos,ROOT,acl,acomp,advcl,advmod,...,WORK_OF_ART,LAW,LANGUAGE,DATE,TIME,PERCENT,MONEY,CARDINAL,QUANTITY,ORDINAL
0,0,\nBack in July a Japanese amusement park drew ...,0.096,0.793,0.111,22,9,0,9,9,...,0,0,0,5,0,0,0,4,0,0
1,0,\nA recent Facebook post uses a video clip of ...,0.031,0.952,0.017,19,5,3,4,11,...,1,0,0,3,0,1,0,0,0,0
2,1,"\n""If you look at the average teacher pay comp...",0.061,0.894,0.046,32,5,4,9,23,...,2,0,0,18,0,5,12,3,0,4
3,0,\nA popular TikTok video said that if you want...,0.049,0.901,0.049,36,4,7,13,19,...,0,0,0,6,0,0,0,4,0,0
4,1,\nAfter failing to stop the $1.9 trillion COVI...,0.060,0.829,0.111,33,13,5,13,44,...,1,1,0,6,0,0,4,2,0,2

In [ ]:
train_data, test_data = train_test_split(combined_data, test_size=0.3, random_state=40)
# train_data, valid_data = train_test_split(train_data, test_size=0.1, random_state=40)

In [ ]:
train_data.shape, test_data.shape

((13373, 87), (5732, 87))

In [ ]:
train_data.to_csv("/content/drive/MyDrive/FNDS/Dataset/CleanedDataset/train_data.zip", encoding='utf-8', index = False)
test_data.to_csv("/content/drive/MyDrive/FNDS/Dataset/CleanedDataset/test_data.zip", encoding='utf-8', index = False)
# valid_data.to_csv("/content/drive/MyDrive/FNDS/Dataset/CleanedDataset/valid_data.zip", encoding='utf-8', index = False)

In [ ]:
train_data.head()

,label,content,neg,neu,pos,ROOT,acl,acomp,advcl,advmod,...,WORK_OF_ART,LAW,LANGUAGE,DATE,TIME,PERCENT,MONEY,CARDINAL,QUANTITY,ORDINAL
3167,0,\nBillionaire and Dallas Mavericks owner Mark ...,0.029,0.826,0.145,54,5,10,12,33,...,0,0,0,3,0,1,1,3,0,0
11267,1,\nRichmond Mayor Dwight Jones says the develop...,0.020,0.938,0.041,46,8,4,10,19,...,0,0,0,20,0,0,25,9,1,5
6975,1,"\nHillary Clinton says that as president, she ...",0.027,0.922,0.051,38,4,11,7,24,...,1,0,0,17,0,0,0,1,0,1
4135,1,\nNorth Carolina lawmakers want to make more p...,0.060,0.862,0.078,56,9,18,17,42,...,1,0,0,22,0,1,8,7,0,4
1903,0,\nThe Trump administration’s top Medicaid offi...,0.056,0.802,0.142,59,15,19,16,58,...,0,1,0,16,0,9,1,12,0,0